<h1>Hi <%= @task.project.client.name %></h1>


<p>
  The task (<%= @task.title %>) belonging to <%= @task.project.name %> has been completed. It was due on <%= @task.due_date %> <br/>

  Regards,<br/>
  Team Tasksbox <br/>
</p>
