<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<!--

<h1>Say Hello</h1>



<%= 2 + 2 %>

<%= movies = ["U Turn", "Kabali", "Indenpance Day", "Sultan", "Thithi"] %>

<ol>
<li>Apple</li>
<li>Mango</li>
<li>Water Melon</li>
</ol>

<h3>Now showing</h3>
<ol>
<% movies.each do |movie| %>
<li><%= movie %></li>
<% end %>
</ol>

<% signed_in = [true,false].sample %>
<% if signed_in %>
<p>Welcome User</p>
<% else %>
<p>Login to continue</p>
<% end %>
-->
<%# this is a comment %>
