<h1> Total Products= <%= @items.size%> </h1>


<p>To view the data in an ascending order click</p>
 <A HREF = "http://localhost:3000/prods/items_asc">here</A>
<p>To view the data in an descending order click</p>
 <A HREF = "http://localhost:3000/prods/items_dsc">here</A>
<p>To view the products in stock click</p>
 <A HREF = "http://localhost:3000/prods/items_stock">here</A>
<p>To view the products that are not available click</p>
 <A HREF = "http://localhost:3000/prods/items_unavailable">here</A>
<p>To view the products that are having stockout click</p>
 <A HREF = "http://localhost:3000/prods/items_stockout">here</A>
<p>To view the products that are having total price click</p>
 <A HREF = "http://localhost:3000/prods/items_totalprice">here</A>
 <p>To view the products based on category click</p>
 <A HREF = "http://localhost:3000/prods/category">here</A>
  <p>To view the products based on orders click</p>
 <A HREF = "http://localhost:3000/prods/orders">here</A>