<div class="row">
	<div class="col-md-7">
	<div class="page-header">
			<h2><%= @anouncement.title %><br/></h2>
			<h4>
			<small>
			<span class="glyphicon glyphicon-briefcase"></span><%= @anouncement.body %> 
			</small></h4>
			</div>
			</div>

			<div class="col-md-5">

			</div>
			</div>

			<div class="row">
				<div class="col-md-12">
				</div>
				</div>


	<p> <%= link_to "Go Back" , anouncements_path %>